<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div layout:fragment="content">
    <h2>Credential</h2>
    <div class="table-responsive" th:object="${credential}">
        <table class="table">
            <tbody>
            <tr>
                <th scope="row">VP Token</th>
                <td>
                    <textarea class="form-control wrap-text" th:text="${vp_token}"></textarea>
                </td>
            </tr>
            <tr>
                <th scope="row">Presentation submission</th>
                <td>
                    <pre>
                        <code class="json wrap-text" th:text="${presentation_submission}"></code>
                    </pre>
                </td>
            </tr>
            <th:block th:each="nameSpaceClaims : ${claims}">
                <tr>
                    <td colspan="3" th:text="${'Namespace: ' + nameSpaceClaims.key.uri}"></td>
                </tr>
                <th:block th:each="claim : ${nameSpaceClaims.value}">
                    <tr>
                        <th scope="row">[[${claim.key}]]</th>
                        <td>
                            <div th:if="${claim.key == 'portrait'}">
                                <img alt="portrait" th:src="'data:image/jpeg;base64,' + ${claim.value}"/>
                            </div>
                            <div th:if="${claim.key == 'driving_privileges'}">
                                <p class="form-text" th:each="privilege : ${claim.value}">
                                    [[${privilege.value}]]
                                </p>
                            </div>
                            <div th:unless="${claim.key == 'portrait' || claim.key == 'driving_privileges'}">
                                <p class="form-text" th:text="${claim.value}"></p>
                            </div>
                        </td>
                    </tr>
                </th:block>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
